:root {
  --clr-primary: #d56ddf;
  --clr-primary-light: #edc2f1;
  --clr-primary-dark: #af22c7;
  --clr-secondary: #77df6d;
  --clr-success: #2ecc71;
  --clr-danger: #b00020;
  --clr-warning: #f39c12;
  --clr-bg: #221823;
  --clr-text: #fff;
  --clr-text-dark: #333;

  --content-width: 1300px;

  font-family: "IBM Plex Sans", sans-serif;
}

body {
  /* background-size: 10px 10px;
  background-image: repeating-linear-gradient(45deg, var(--clr-primary) 0, var(--clr-primary) 1px, var(--clr-primary-light) 0, var(--clr-primary-light) 50%); */
  background-color: var(--clr-bg);
  color: var(--clr-text);
}

section {
  max-width: var(--content-width);
  margin: 0 auto;
  padding: 2rem;
}